<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sabertooth.kuettrade">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SignIn_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".store_and_user_nav_settings"
            android:label="@string/title_activity_store_and_user_nav_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_signUP" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Your_Products" />
        <activity android:name=".ADD_PRODUCT"></activity>
    </application>

</manifest>